<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ALFSuite">
  <test thread-count="5" name="AllTests">
    <classes>
      <class name="testCases.LoginTest"/>
      <class name="testCases.SetupMenuTest">
       <methods>
        <exclude name="TC_dealerMenuSetuUp" />
        <include name="TC_lotMenuSetUp" />
        <exclude name="TC_userMenuSetUp" />
        </methods>
      </class> 
     <!-- <class name="testCases.EditDealerTest"/> -->
    <!-- <class name="testCases.AddDealerTest"/>-->
     <!--<class name="testCases.DeleteDealerTest"/>-->
 <class name="testCases.AddLotTest"/> 
   <!-- <class name="testCases.EditLotTest"/>-->
    <!-- <class name="testCases.DeleteLotTest"/> -->
    <!--<class name="testCases.AddUserTest">
     <methods>
       <exclude name="TC_NoDealerLot" />
       <exclude name="TC_DealerLot" />
        <include name="TC_DealerMultiLot" />
     </methods>
      </class> -->
      <!-- <class name="testCases.EditUserTest"/>-->
      <!--<class name="testCases.DeleteUserTest"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

